# Copyright (c) 2018 Shapelets.io
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

language: java
sudo: required

cache:
   directories:
     - ${TRAVIS_BUILD_DIR}/installers

matrix:
  fast_finish: true
  include:
    - os: linux
      dist: trusty
      - env: JDK='Oracle JDK 8'
        jdk: oraclejdk8
      before_install:
        - jdk_switcher use oraclejdk8
      install:
        - source .CI/travis/install-arrayfire.sh
        - source .CI/travis/install-khiva.sh
      script:
        - source .CI/travis/build-and-test.sh
      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - os: osx
      osx_image: xcode9.3
      before_install:
        - source .CI/travis/install.sh
      install:
        - source .CI/travis/install-arrayfire.sh
        - source .CI/travis/install-khiva.sh
      script:
        - source .CI/travis/build-and-test.sh


